.logo {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 150px;
}
h1 {
position: absolute;
left: 600px;
top: -30px;
font-family: 'Lato', sans-serif;
font-weight: 800;
font-size: 3.5em;
color: black;
display: inline;

}
.Inventory{
  display: block;
  margin-right: 80%;
  width: 100px;
}
#buy{
	position: absolute;
	top :320px;
	right:315px;
	border-radius: 8px;
width: 70px;
  height: 50px
  color: #000000;
background: #993399;
}
.chair {
  position: absolute;
  top: 130px;
  right: 1100px;
  width: 200px;
  height: 200px;
}
.chairbuy{
	border-radius: 8px;
	position: absolute;
  top: 385px;
  right: 1200px;
  width: 40px;
  height: 20px;
color: #000000;
background: #993399;
}
.chairsell{
	border-radius: 8px;
	position: absolute;
  top: 385px;
  right: 1150px;
  width: 40px;
  height: 20px;
  color: #000000;
background: #993399;
}
#mouse{
position: absolute;
top: 550px;
right: 280px;
width: 200px;
height: 200px;
}
.mouseSell{
	border-radius: 8px;
	position: absolute;
top: 760px;
right: 320px;
  width: 40px;
  height: 20px;
  color: #000000;
background: #993399;
}
.mouseBuy{
	border-radius: 8px;
	position: absolute;
top: 760px;
right: 370px;
  width: 40px;
  height: 20px;
  color: #000000;
background: #993399;
}
.books{
	position: absolute;
top: 550px;
right: 1100px;
  width: 150px;
  height: 150px;
}
.bookBuy{
	border-radius: 8px;
	position: absolute;
top: 720px;
right: 1200px;
  width: 40px;
  height: 20px;
  color: #000000;
background: #993399;
}
.bookSell{
	border-radius: 8px;
position: absolute;
top: 720px;
right: 1150px;
  width: 40px;
  height: 20px;
  color: #000000;
background: #993399;
}
.checkChair{
	border-radius: 8px;
	position: absolute;
top: 405px;
right: 1160px;
  width: 60px;
  height: 50px;
  color: #000000;
background: #993399;
}
.checkTables{
	border-radius: 8px;
	position: absolute;
top: 780px;
right: 340px;
  width: 60px;
  height: 50px;
  color: #000000;
background: #993399;
}
.checkBook{
	border-radius: 8px;
	position: absolute;
top: 740px;
right: 1160px;
  width: 60px;
  height: 50px;
  color: #000000;
background: #993399;
}
#mouse{
	border : 1px solid white;
}

.books{
	border : 1px solid white;
}
.chair{
	border : 1px solid white;
}
.Inventory{
	border : 1px solid white;
}
.bginventory{
	position: absolute;
	top : -50px;
}
.img2{
    float: right;
    padding: 8%;
    padding-right: 20%;
    position: relative;
}
