.logo {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 150px;
}
h1 {
position: absolute;
left: 600px;
top: -30px;
font-family: 'Lato', sans-serif;
font-weight: 800;
font-size: 3.5em;
color: white;
display: inline;

}
.Inventory{
  display: block;
  margin-left: 70%;
  margin-right: 80%;
  width: 20%;
}
#buy{
	display: block;
  margin-left: 70%;
  margin-right: 80%;
  width: 20%;
}
.chair {
  position: absolute;
  top: 70px;
  right: 1100px;
  width: 200px;
  height: 250px;
}
.chairbuy{
	position: absolute;
  top: 320px;
  right: 1200px;
  width: 40px;
  height: 20px;
}
.chairsell{
	position: absolute;
  top: 320px;
  right: 1150px;
  width: 40px;
  height: 20px;
}
#mouse{
position: absolute;
top: 400px;
right: 200px;
width: 200px;
height: 200px;
}
.mouseSell{
	position: absolute;
top: 600px;
right: 250px;
  width: 40px;
  height: 20px;
}
.mouseBuy{
	position: absolute;
top: 600px;
right: 300px;
  width: 40px;
  height: 20px;
}
