.logo {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  width: 150px;
}
h1 {
position: absolute;
left: 600px;
top: -30px;
font-family: 'Lato', sans-serif;
font-weight: 800;
font-size: 3.5em;
color: #E0D2B2;
display: inline;

}